$pureWhiteColor: #fff;
$mainColor: #303842;
$secondaryDark: #6d6be5;
$darkColor: #20272E;
$errorColor: #FF776F;
$greyMainColor: #8d97b0;
$greyLightColor: #CBD5E2;
$greyExtraLightColor: #edf2ff;
$greyDarkColor: #6d7895;
$lightColor: #D2D8E8;
$primaryDarkColor: #3843ed;
$primaryMainColor: #4E5AF2;
$primaryLightColor: #5E6BF6;
$extraLightColor: #DCDEFC;
$successMainColor: #71d575;
$textLightColor: #47525F;