@import "../../assets/scss/variables";

.form_item{
  margin-bottom: 24px;
  position: relative;

  label{
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 2;
    color: $darkColor;

    span{
      color: $errorColor;
    }
  }

  input{
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: $darkColor;
    padding: 8px 8px 8px 16px;

    background-color: $pureWhiteColor;
    border: 1px solid $greyLightColor;
    border-radius: 4px;
    outline-color: $primaryDarkColor;
    
    &:not(:placeholder-shown),
    &:hover{
      border-color: $primaryMainColor;
    }

    &:disabled{
      background: $extraLightColor;
      border-color: $greyLightColor;
      color: $greyMainColor;
    }
  }
}

.password_input{
  position: relative;

  &.active{
    z-index: 12;
  }
  
  &_control{
    display: flex;
    gap: 4px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;

    & > *{
      cursor: pointer;
    }

    svg{
      display: block;
    }

    &_key {
      fill: $lightColor;

      &.active{
        fill: $primaryMainColor;
      }
    }
  }
}

.password_status{
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.2;
  
  &.error{
    color: $errorColor;
  }

  &.good{
    color: $successMainColor;
  }

  img{
    vertical-align: middle;
  }
}

.generator{
  background-color: transparent;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  z-index: 9;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08), 0 0 80px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
  overflow: hidden;

  &_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $pureWhiteColor;
    font-weight: 600;
    font-size: 14px;
    color: $mainColor;
    padding: 20px 8px 12px 16px;

    &_control{
      display: flex;
      align-items: center;
      gap: 8px;
      user-select: none;

      & > *{
        cursor: pointer;
      }
    }
  }

  &_apply{
    background-color: $greyExtraLightColor;
    padding: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: $mainColor;
    text-align: center;
    cursor: pointer;
  }
}

.submit{
  width: 100%;
  padding: 11px 24px;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;

  &.main{
    background-color: $primaryMainColor;
    color: $pureWhiteColor;

    &:hover,
    &:focus {
      color: $pureWhiteColor;
      background-color: $primaryDarkColor;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
    }

    &:active{
      background-color: $primaryLightColor;
      box-shadow: none;
    }

    &:disabled{
      background-color: $extraLightColor;
      color: $greyMainColor;
      pointer-events: none;
    }
  }

  &.secondary{
    border: 2px solid $primaryMainColor;
    background-color: $pureWhiteColor;
    color: $primaryMainColor;

    &:hover,
    &:focus {
      color: $pureWhiteColor;
      background-color: $primaryDarkColor;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
    }

    &:active{
      background-color: $primaryLightColor;
      box-shadow: none;
    }

    &:disabled{
      border-color: $extraLightColor;
      color: $greyMainColor;
      pointer-events: none;
    }
  }

  &.tertiary{
    border: 1px solid $greyLightColor;
    background-color: $pureWhiteColor;
    color: $greyDarkColor;

    &:hover,
    &:focus {
      border-color: $primaryDarkColor;
      background-color: $pureWhiteColor;
    }

    &:active{
      box-shadow: none;
      background-color: $greyExtraLightColor;
      border-color: $primaryLightColor;
    }

    &:disabled{
      color: $greyMainColor;
      pointer-events: none;
      border-color: $extraLightColor;
    }
  }
}

.dropdown{
  position: relative;

  &.opened{
    .dropdown_head{
      position: relative;
      z-index: 12;
      border-color: $primaryMainColor;
      outline: 1px solid $primaryDarkColor;
    }
  }

  &_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
    background-color: $pureWhiteColor;
    border: 1px solid $greyLightColor;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: $greyMainColor;
    border-radius: 4px;
    outline-color: $primaryDarkColor;
    cursor: pointer;

    img.active{
      transform: rotate(180deg);
    }

    &.selected{
      color: $darkColor;
      border-color: $primaryMainColor;
    }

    &:hover{
      border-color: $primaryMainColor;
    }
  }

  &_body{
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    z-index: 9;
    background-color: $pureWhiteColor;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08), 0 0 80px rgba(0, 0, 0, 0.32);
    border-radius: 8px;
    overflow: hidden;
    padding: 8px 0;

    &_item{
      padding: 17px 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: $mainColor;
      cursor: pointer;
    }
  }
}