@import "../../assets/scss/variables";

.aside{
  width: 600px;
  padding: 48px 165px 48px 64px;

  @media screen and (max-width: 1024px){
    padding: 30px 15px;
  }

  @media screen and (max-width: 767px){
    width: 100%;
  }
}

.main{
  padding: 92px 24px 24px;
  display: flex;
  flex-direction: column;

  &_form{
    width: 336px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &_title{
      font-weight: 600;
      font-size: 18px;
      color: $darkColor;
      text-align: center;
      margin-bottom: 16px;
    }

    &_desc{
      font-weight: 500;
      font-size: 12px;
      line-height: 1;
      color: $textLightColor;
      text-align: center;
      margin-bottom: 32px;
    }

    &_info{
      margin-top: -24px;
      font-weight: 600;
      font-size: 12px;
      line-height: 2;
      width: fit-content;
      margin-left: auto;
      margin-bottom: 32px;
      
      &_timer{
        display: flex;
        align-items: center;
        color: $greyMainColor;

        img{
          margin-right: 4px;
        }
      }
      
      &_resend{
        text-decoration: underline;
        color: $primaryDarkColor;
        cursor: pointer;
      }
    }
  }

  &_back_link{
    display: flex;
    align-items: center;
    margin-top: auto;
    color: $greyDarkColor;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;

    img{
      margin-right: 8px;
    }
    
    &:hover{
      text-decoration: underline;
    }
  }
}