@import "../../assets/scss/variables";

.aside{
  padding: 92px 36px 0 64px;

  @media screen and (max-width: 1024px){
    padding: 30px 15px;
  }

  &_title{
    font-size: 36px;
    margin-bottom: 24px;
    letter-spacing: 0.02em;
    font-weight: 700;

    @media screen and (max-width: 1024px){
      font-size: 22px;
    }

    @media screen and (max-width: 767px){
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  &_desc{
    color: $greyExtraLightColor;
    line-height: 1.33;
    margin-bottom: 72px;

    @media screen and (max-width: 1024px){
      font-size: 16px;
    }

    @media screen and (max-width: 767px){
      font-size: 14px;
      margin-bottom: 42px;
    }
  }

  &_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;

    @media screen and (max-width: 1024px){
      flex-direction: column;
    }

    @media screen and (max-width: 767px){
      flex-direction: row;
    }

    li{
      width: 50%;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;

      @media screen and (max-width: 1024px){
        width: 100%;
      }

      @media screen and (max-width: 767px){
        width: 50%;
        font-size: 12px;
      }

      &:before{
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(../../assets/img/check_icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
        vertical-align: middle;
        flex: none;

        @media screen and (max-width: 767px){
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.main{
  padding: 24px;

  &_lang{
    margin-bottom: 44px;
    margin-left: auto;
    width: fit-content;
    position: relative;

    &_head{
      padding: 0 4px 0 8px;
      border: none;
      background-color: rgba(237, 242, 255, 0.7);
      color: $secondaryDark !important;
    }

    &_body{
      width: fit-content;
      right: 0;
      left: auto;
    }
  }

  &_content{
    width: 336px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &_nav{
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
      gap: 12px;
      border-bottom: 1px solid $greyLightColor;

      &_button{
        flex: 1;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        color: $greyDarkColor;
        cursor: pointer;
        position: relative;

        &.active {
          color: $primaryDarkColor;
          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: $primaryMainColor;
            border-radius: 4px 4px 0 0;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }

    &_social{
      margin-top: 32px;

      &_title{
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $greyMainColor;
        margin-bottom: 32px;

        span{
          display: inline-block;
          margin: 0 24px;
        }

        div{
          flex: 1;
          background-color: $lightColor;
          height: 1px;
        }
      }

      &_row{
        display: flex;
        align-items: center;
        gap: 12px;
      }

      &_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 8px;
        border: 1px solid $lightColor;
        border-radius: 8px;
        cursor: pointer;

        &:hover{
          border-color: $primaryDarkColor;
        }
      }
    }
  }
}