@import "../../../assets/scss/variables";

.confirm_modal{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #8892FF 0%, $secondaryDark 18.75%);
  display: flex;
  padding: 20px;

  &_body{
    margin: auto;

    &_icon{
      display: block;
      margin: 0 auto 48px;
    }

    &_text{
      font-weight: 500;
      font-size: 18px;
      line-height: 1.33;
      color: $greyExtraLightColor;
      text-align: center;
    }
  }

  &_close{
    position: absolute;
    right: 12px;
    top: 12px;
    fill: $extraLightColor;
    cursor: pointer;
  }
}