@import "../../../assets/scss/variables";

.exit_modal{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  background-color: rgba(30,30,30,.7);
  backdrop-filter: blur(2px);

  &_body{
    max-width: calc(100% - 20px);
    margin: auto;
    background-color: $pureWhiteColor;
    padding: 64px;
    position: relative;
    text-align: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08), 0 0 80px rgba(0, 0, 0, 0.32);
    border-radius: 8px;

    @media screen and (max-width: 767px){
      padding: 15px;
    }

    &_icon{
      display: block;
      margin: 0 auto 24px;

      @media screen and (max-width: 767px){
        width: 54px;
      }
    }

    &_title{
      font-weight: 600;
      font-size: 18px;
      color: $darkColor;
      margin-bottom: 12px;
    }

    &_desc{
      font-weight: 500;
      font-size: 12px;
      line-height: 1.2;
      color: $mainColor;
      margin-bottom: 24px;
    }

    &_buttons{
      width: 216px;
      margin-left: auto;
      margin-right: auto;

      & > * + *{
        margin-top: 12px;
      }
    }

    &_close{
      position: absolute;
      right: 12px;
      top: 12px;
      fill: $greyMainColor;
      cursor: pointer;
    }
  }
}