@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

input,
button{
    font-family: inherit;
    color: inherit;
}

.page{
    height: 100vh;
    height: 100dvh;
    display: flex;
}

aside{
    width: 600px;
    background: right bottom /contain no-repeat  url("./assets/img/aside_bg.svg"), linear-gradient(180deg, #8892FF 0%, #6d6be5 18.75%);
    color: #fff;
}

main{
    flex: 1;
}

@media screen and (max-width: 1024px){
    aside{
        width: 320px;
    }
}

@media screen and (max-width: 767px){
    .page{

        flex-direction: column;
    }

    aside{
        background: linear-gradient(180deg, #8892FF 0%, #6d6be5 18.75%);
        width: 100%;
    }
}