@import "../../assets/scss/variables";

.aside{
  width: 480px;
  padding: 48px 48px 48px 64px;

  @media screen and (max-width: 1024px){
    padding: 30px 15px;
    width: 320px;
  }

  @media screen and (max-width: 767px){
    width: 100%;
  }

  &_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 12px;

    @media screen and (max-width: 1024px){
      font-size: 18px;
    }
  }

  &_desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $greyExtraLightColor;

    @media screen and (max-width: 1024px){
      font-size: 14px;
    }
  }
}

.main{
  padding: 48px 24px 24px;

  &_title{
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: $darkColor;
  }

  &_form{
    height: 100%;
    display: flex;
    flex-direction: column;

    &_body{
      width: 576px;
      max-width: 100%;
    }

    &_name{
      display: flex;
      align-items: center;
      gap: 24px;

      & > *{
        flex: 1;
      }

      @media screen and (max-width: 565px){
        display: block;
      }
    }

    &_phone{
      position: relative;

      &_link{
        position: absolute;
        right: 8px;
        bottom: 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 2;
        text-decoration-line: underline;
        color: $primaryMainColor;
      }
    }

    &_bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
    }

    &_next{
      width: fit-content;
    }

    &_exit{
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      color: $greyDarkColor;
      cursor: pointer;

      img{
        margin-right: 8px;
      }
    }
  }
}

.confirm_buttons{
  width: 336px;
  max-width: 100%;
  margin: 48px auto 0;
  
  .confirm_buttons_verify{
    border-color: transparent;
  }

  .confirm_buttons_to_profile{
    background-color: transparent;
    border-color: $extraLightColor;
    color: $pureWhiteColor;

    &:hover{
      background-color: transparent;
      border: 1px solid $primaryDarkColor;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
    }
  }

  & > * + *{
    margin-top: 24px;
  }
}

